header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.welcome-txt {
  font-size: 20px;
  font-weight: bold;
}

.guide-txt {
  font-size: 18px;
  font-weight: bold;

}